@{
    ViewData["Title"] = "Products";
}

<h2>Product List</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody id="productTable"></tbody>
</table>

@section Scripts{
    <script>
        alert("hello");
    </script>
}
